docker/mongoclient/.env
docker/mongodb/.env
docker/pi-hole/etc-pihole/pihole-FTL.db
docker/heimdall/config/log/*
docker/heimdall/config/www/app.sqlite
docker/pi-hole/etc-pihole/gravity.db
docker/portainer_ce/.env
docker/webdav/.env
docker/pi-hole/etc-pihole/pihole-FTL.db
docker/mongodb5/mongocerts/*
.gitignore
docker/dropbox/.env
docker/cloudns-refresher/.env
